<div class="mse-footer">
    <div class="mse-footer-large-content">

        <div class="mse-footer-large-content-left">
            <div>Nils Niemeyer</div>
            <div>Makoto Studio Entertainment</div>
        </div>


        <div class="mse-footer-large-content-right">
            <div>Privacy</div>
            <div class="mse-footer-large-content-social-media">
                <div class="mse-social-media-logo-container">
                    <img class="mse-social-media-logo"
                         alt="GitHub Logo"
                         src="../../../../assets/icons/github_logo.svg">
                </div>
                <div class="mse-social-media-logo-container">
                    <img class="mse-social-media-logo"
                         alt="GitHub Logo"
                         src="../../../../assets/icons/instagram_logo.svg">
                </div>
                <div class="mse-social-media-logo-container">
                    <img class="mse-social-media-logo"
                         alt="GitHub Logo"
                         src="../../../../assets/icons/linkedin_logo.svg">
                </div>
                <div class="mse-social-media-logo-container">
                    <img class="mse-social-media-logo"
                         alt="GitHub Logo"
                         src="../../../../assets/icons/reddit_logo.svg">
                </div>
                <div class="mse-social-media-logo-container">
                    <img class="mse-social-media-logo"
                         alt="GitHub Logo"
                         src="../../../../assets/icons/twitter_logo.svg">
                </div>
                <div class="mse-social-media-logo-container">
                    <img class="mse-social-media-logo"
                         alt="GitHub Logo"
                         src="../../../../assets/icons/youtuble_logo.svg">
                </div>
            </div>
        </div>

    </div>
</div>
