.nin-scroll-icon {
  opacity: 1;
  text-align: center;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 80%;
}

.bouncing-arrow-icon {
  text-align: center;
  position: sticky;
  top: 80%;
  font-size: 100px;
}

.nin-bouncing-arrow-text {
  font-weight: bold;
}

.nin-background-first-image {
  opacity: 0;
  //padding-top: 100%;
  margin-top: 40%;
  position: sticky;
  top: 0;
  max-height: 50%;
  max-width: 100%;
  margin-bottom: -400px;
  z-index: -2;
}


.nin-background-second-image {
  opacity: 0;
  position: sticky;
  top: 0;
  max-width: 100%;
  margin-bottom: -400px;
  z-index: -1;
}

.nin-title-text {
  position: sticky;
  top: 40%;
  text-align-last: center;
}

.nin-hello {
  font-size: 40px;
}

.nin-my-name {
  font-size: 50px;
  padding-top: 5%;
}

.nin-content-group-title {
  text-align: center;
  font-size: 5em;
}

.nin-content-group {
  padding-top: 100px;
  padding-bottom: 100px;
}

.nin-scroll-content {
  margin-bottom: 400px;
  opacity: 1;
  //transform: scale(0.5);
}

.nin-scroll-content-right {
  text-align: right;
  float: right;
  margin-left: unset;
  margin-right: 10%;
  margin-bottom: 100px;
}

.nin-scroll-content-left {
  text-align: left;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 100px;
}

.nin-scroll-content-left .nin-content {
  padding-right: 10em;
}

.nin-scroll-content-right .nin-content {
  padding-left: 10em;
}

.nin-content {
  background-color: #0000003A;
  color: whitesmoke;
  font-size: 30px;
  padding: 1em;
  border-style: solid;
  border-radius: 0.5em;
  width: fit-content;
}

#nin-first-content {
  animation-fill-mode: forwards;
}


@media screen and (max-width: 576px) {
  //html {
  //  font-size: 16px;
  //}
  //.nin-hello {
  //  font-size: 20px;
  //}
  //
  //.nin-my-name {
  //  font-size: 25px;
  //}
  //.nin-background-image {
  //  margin-top: 40%;
  //  position: sticky;
  //  top: 50px;
  //  max-height: 50%;
  //  opacity: 0;
  //}
  //.contentGroup {
  //  z-index: 1;
  //  padding-top: 300px;
  //}
  //.nin-scroll-icon {
  //  position: sticky;
  //  text-align: center;
  //  top: 80%;
  //  font-size: 30px;
  //}
  //.contentRight {
  //  color: black;
  //  font-size: 15px;
  //}
  //.contentLeft {
  //  color: whitesmoke;
  //  font-size: 15px;
  //}
}
