<div class="">
  <main role="main" class="pb-3">
    <div class="nin-title-text"
         id="nin-title-text">
      <div class="nin-hello"
           id="nin-hello">
        Hello, I am
      </div>
      <div class="nin-my-name is-visible"
           id="nin-my-name">
        Nils Niemeyer
      </div>
    </div>
    <div class="nin-scroll-icon"
         id="nin-scroll-icon">
      <div aria-hidden="false">
        <span class="material-icons bouncing-arrow-icon"
              [@bouncingArrow]="{value:animationState, params:{time: animationTime}}">
          expand_less
        </span>
        <div class="nin-bouncing-arrow-text">
          SCROLL DOWN
        </div>
      </div>
    </div>
    <img class="nin-background-first-image nin-dark-background"
         id="nin-background-first-image"
         src="../../../assets/images/backgrounds/me-background.jpg"
         alt="Me as a meme"/>
    <div class="nin-content-group-title">
      <p>PLACEHOLDER</p>
    </div>
    <div class="nin-content-group">
      <div class="nin-scroll-content" id="nin-first-content">
        <div class="nin-scroll-content-left">
          <div class="nin-content">
            <h1>Game Development</h1>
            <p>PLACEHOLDER TEXT LEFT</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nin-content-group" id="nin-second-content">
      <div class="nin-scroll-content">
        <div class="nin-scroll-content-right">
          <div class="nin-content">
            <h1>Web Development</h1>
            <p>PLACEHOLDER TEXT RIGHT</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nin-content-group">
      <div class="nin-scroll-content">
        <div class="nin-scroll-content-left">
          <div class="nin-content">
            <h1>Web Development</h1>
            <p>PLACEHOLDER TEXT LEFT</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nin-content-group">
      <div class="nin-scroll-content">
        <div class="nin-scroll-content-right">
          <div class="nin-content">
            <h1>Web Development</h1>
            <p>PLACEHOLDER TEXT RIGHT</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nin-content-group">
      <div class="nin-scroll-content">
        <div class="nin-scroll-content-left">
          <div class="nin-content">
            <h1>Web Development</h1>
            <p>PLACEHOLDER TEXT LEFT</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
