.mse-nav-bar {
  padding: 1em;
  display: flex;
  background-image: linear-gradient(rgba(189, 189, 189, 1) 50%, rgba(255, 255, 255, 0));

  .mse-nav-bar-left {
    .mse-nav-bar-logo {
      height: 4em;

    }
  }

  .mse-nav-company-logo:hover {
    cursor: pointer;
  }

  .mse-nav-bar-right {
    margin-left: auto;
    display: flex;
  }
}

.mse-nav-link {
  margin: 1em;
  align-self: center;

  &:hover {
    cursor: pointer;
  }
}


