.mse-nav-bar {
  margin: 1em;
  display: flex;

  .mse-nav-bar-left {
    .mse-nav-bar-logo {
      height: 4em;

    }
  }

  .mse-nav-company-logo:hover {
    cursor: pointer;
  }

  .mse-nav-bar-right {
    margin-left: auto;
    display: flex;
  }
}

.mse-nav-link {
  margin: 1em;
  align-self: center;

  &:hover {
    cursor: pointer;
  }
}


