<ng-template [ngIf]="layoutService.getScreenSize === screenSizeSmall"
						 [ngIfElse]="largeLayout">

	<div class="mse-project-content">

		<mse-project-outrun-undeath-small></mse-project-outrun-undeath-small>

		<mse-project-enigma-adventure-small></mse-project-enigma-adventure-small>

	</div>

</ng-template>
<ng-template #largeLayout>

	<mse-page-content-selector [pageContentNavData]="pageContentNavData"></mse-page-content-selector>

	<div class="mse-project-content-large">

		<mse-project-outrun-undeath-large></mse-project-outrun-undeath-large>

		<mse-project-enigma-adventure-large></mse-project-enigma-adventure-large>

	</div>

</ng-template>

