<ng-template [ngIf]="layoutService.getScreenSize === 'Small'" [ngIfElse]="largeLayout">

  <div class="mse-project-content">

    <mse-project-outrun-undeath-small></mse-project-outrun-undeath-small>

    <mse-project-enigma-adventure-small></mse-project-enigma-adventure-small>

  </div>

</ng-template>
<ng-template #largeLayout>

  <div class="mse-project-content-large">

    <mse-project-outrun-undeath-large></mse-project-outrun-undeath-large>

    <mse-project-enigma-adventure-large></mse-project-enigma-adventure-large>

  </div>

</ng-template>

