.mse-home-name-animation {
  height: calc(100vh);
  align-content: center;
}

.mse-home-background-image-me {
  height: calc(90vh);
  position: sticky;
  top: 0;
  z-index: -1;
}

.mse-home-content {
  width: 100%;
}

.mse-snap-anchor {
  display: block;
  height: 6em;
  margin-top: -6em;
  visibility: hidden;
}
