.mse-home-content-title {
  color: ghostwhite;
  font-size: 5em;
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
}

.content {
  width: 100%;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(189, 189, 189, 0.20) 10%,rgba(189, 189, 189, 0.20) 95%, rgba(255, 255, 255, 0));
}

.content-center {
  padding-top: 5em;
  font-size: 2em;
  color: ghostwhite;
  text-align: center;

  .content-time-year {
    padding-bottom: 1em;
  }
}

.content-left {
  color: ghostwhite;
  margin-right: 50%;
  padding-right: 2em;
  padding-left: 10%;
  text-align: right;
  height: 100px;

  .content-title-line-left {
    padding-top: 0.5em;
    border-top: ghostwhite 2px solid;
    padding-bottom: 0.8em;
  }

  .content-title-left {
    font-size: 2em;
    padding-right: 20%;
  }

  .content-sub-title-left {
    font-size: 1.5em;
    padding-right: 20%;
    font-style: italic;
  }

  .content-content-left {
    font-size: 1em;
    padding-right: 20%;
  }
}

.content-right {
  color: #0e161a;
  margin-left: 50%;
  padding-left: 2em;
  padding-right: 10%;
  text-align: left;
  height: 100px;

  .content-title-line-right {
    padding-top: 0.5em;
    border-top: #0e161a 2px solid;
    padding-bottom: 0.8em;
  }

  .content-title-right {
    font-size: 2em;
    padding-left: 20%;
  }

  .content-sub-title-right {
    font-size: 1.5em;
    padding-left: 20%;
    font-style: italic;
  }

  .content-content-right {
    font-size: 1em;
    padding-left: 20%;
  }
}
