<div class="mse-home-experience-title-content">
  <div class="mse-home-experience-title-content-center">
    <div class="mse-home-experience-title-content-title">
      EDUCATION
    </div>
  </div>

  <!--  2020 til now  -->
  <div class="mse-home-experience-content">
    <div class="mse-home-experience-year-title">
      <div>2021</div>
      <div class="mse-home-experience-year-split">-</div>
      <div>NOW</div>
    </div>
    <div class="mse-home-experience-year-content">
      <div class="mse-home-experience-card mse-home-experience-card-left">
        <div class="mse-home-experience-card-header-left">
          <div class="mse-home-experience-card-year">2021 - NOW</div>
          <div class="mse-home-experience-card-title">BSC (HONS) - GAMES PROGRAMMING DEGREE</div>
          <div class="mse-home-experience-card-sub-team-title">SAE Institute</div>
          <div class="mse-home-experience-card-sub-location-title">Zurich - Switzerland</div>
        </div>
<!--        <div class="mse-home-experience-card-content mse-home-experience-card-content-left">-->
<!--          Content-->
<!--        </div>-->
      </div>

    </div>
  </div>

  <!--  2018 til 2019  -->
  <div class="mse-home-experience-content">
    <div class="mse-home-experience-year-title">
      <div>2018</div>
      <div class="mse-home-experience-year-split">-</div>
      <div>2020</div>
    </div>
    <div class="mse-home-experience-year-content">

      <div class="mse-home-experience-card mse-home-experience-card-right">
        <div class="mse-home-experience-card-header-right">
          <div class="mse-home-experience-card-year">2018 - 2020</div>
          <div class="mse-home-experience-card-title">VET - IT SPECIALISM APPLICATION DEVELOPMENT</div>
          <div class="mse-home-experience-card-sub-team-title"> WISS - Schools of Economics Informatics Real Estate</div>
          <div class="mse-home-experience-card-sub-location-title">St. Gallen - Switzerland</div>
        </div>
<!--        <div class="mse-home-experience-card-content mse-home-experience-card-content-right">-->
<!--          Content-->
<!--        </div>-->
      </div>

    </div>
  </div>

  <!--  2013 til 2018  -->
  <div class="mse-home-experience-content">
    <div class="mse-home-experience-year-title">
      <div>2013</div>
      <div class="mse-home-experience-year-split">-</div>
      <div>2016</div>
    </div>
    <div class="mse-home-experience-year-content">

      <div class="mse-home-experience-card mse-home-experience-card-left">
        <div class="mse-home-experience-card-header-left">
          <div class="mse-home-experience-card-year">2017 - 2018</div>
          <div class="mse-home-experience-card-title">VET Automotive-Professional</div>
          <div class="mse-home-experience-card-sub-team-title">Classic Car Klenot AG</div>
          <div class="mse-home-experience-card-sub-location-title">Oberriet - Switzerland</div>
        </div>
<!--        <div class="mse-home-experience-card-content mse-home-experience-card-content-left">-->
<!--          Content-->
<!--        </div>-->
      </div>

    </div>
  </div>

</div>