.mse-footer {
  height: calc(30vh);
  padding: 4em;
}

.mse-footer-large-content {
  display: inline-flex;
  //border: #0e161a 1px solid;
  //margin: 1em;
  height: 100%;
  width: 100%;
}

.mse-footer-large-content-left {
  //border: red 1px solid;
  width: 100%;
  height: 100%;

}

.mse-footer-large-content-right {
  //border: red 1px solid;
  width: 100%;
  height: 100%;
}

.mse-footer-large-content-social-media {
  width: 100%;
  justify-content: center;
  display: inline-flex;
  position: relative;
  bottom: 0px;

}

.mse-social-media-logo-container {
  margin-left: auto;
  margin-right: auto;
}

.mse-social-media-logo {


  width: 4em;
}