.mse-footer {
  padding: 4em 1em 1em;
}

.mse-footer-large-content {
  padding: 1em;
  text-align: center;
}

.mse-footer-large-content-links {
  width: 100%;
  height: 100%;

  div {
    padding-bottom: 1em;
    padding-top: 1em;
  }
}

.mse-social-media-logo-container {
  padding: 1em;
}

.mse-social-media-logo {
  width: 2em;
}
