.nin-navigation {
  display: inline-flex;
  width: 100%;
}

.nin-navigation-left {
  height: 4em;
  padding: 0.5em;
}

.nin-navigation-logo {
  height: 100%;
}

.nin-navigation-right {
  height: 4em;
  width: 4em;
  padding: 0.5em;
  margin-left: auto;
}

.nin-navigation-content-button {
  padding-top: 25%;
  padding-bottom: 25%;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.nin-navigation-content-button-icon {
  text-align: center;
  font-size: 2em;
}

.nin-navigation-content {
}

.nin-nav-menu {
  float: right;
  width: 20em;
  display: grid;
}

.nin-nav-content {
  float: right;
  font-size: 2em;
  text-align: right;
  padding-right: 1em;
}

.nin-nav-link {
  width: fit-content;
  float: right;
}

.nin-nav-link:hover {
  font-size: 1.5em;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}
