<div class="nin-navigation" id="nin-nav-bar">
  <div class="nin-navigation-left">
    <div class="nin-navigation-logo-group"
         (click)="changePage('/')">
      <img class="nin-navigation-logo"
           src="../../assets/images/ms-logo-single-trans.png"
           alt="the logo">
    </div>
  </div>
  <div class="nin-navigation-right">
    <div class="nin-navigation-group">
      <div class="nin-navigation-content-button"
           (click)="showNavContent($event)">
        <span class="material-icons nin-navigation-content-button-icon"
              [@turnArrow]="isShowNavContent ? 'up' : 'down'">expand_more</span>
      </div>
      <span class="nin-navigation-content">
        <div class="nin-nav-menu"
             [@expandMenu]="isShowNavContent ? 'out' : 'in'">
          <div class="nin-nav-content">
            <div class="nin-nav-link"
                 (click)="changePage('/')">HOME</div>
          </div>
          <div class="nin-nav-content">
            <div class="nin-nav-link"
                 (click)="changePage('/about')">ABOUT</div>
          </div>
          <div class="nin-nav-content">
            <div class="nin-nav-link"
                 (click)="changePage('/work')">WORK</div>
          </div>
          <div class="nin-nav-content">
            <div class="nin-nav-link"
                 (click)="changePage('/makoto-studio')">MAKOTO STUDIO</div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
