<div class="mse-home-experience-title-content">
	<div class="mse-home-experience-title-content-center">
		<div class="mse-home-experience-title-content-title">
			EXPERIENCE
		</div>
	</div>

	<!--  2020 til now  -->
	<div class="mse-home-experience-content">
		<div class="mse-home-experience-year-title">
			<div>2020</div>
			<div class="mse-home-experience-year-split">-</div>
			<div>NOW</div>
		</div>
		<div class="mse-home-experience-year-content">
			<div class="mse-home-experience-card mse-home-experience-card-left">
				<div>
					<div class="mse-home-experience-card-year">2020 - NOW</div>
					<div class="mse-home-experience-card-title">EPS SOFTWARE ENGINEERING AG</div>
					<div class="mse-home-experience-card-sub-location-title">Wil (SG) - Switzerland</div>
					<div class="mse-home-experience-card-sub-team-title">Division Nufatron AG</div>
					<div class="mse-home-experience-card-sub-job-title">Junior / Middle Software-Developer</div>
				</div>
			</div>

			<div class="mse-home-experience-card mse-home-experience-card-right">
				<div>
					<div class="mse-home-experience-card-year">2020 - 2021</div>
					<div class="mse-home-experience-card-title">EPS SOFTWARE ENGINEERING AG</div>
					<div class="mse-home-experience-card-sub-location-title">Wil (SG) - Switzerland</div>
					<div class="mse-home-experience-card-sub-team-title">Team EPS Academy</div>
					<div class="mse-home-experience-card-sub-job-title">Internship - Junior Software-Developer</div>
				</div>
			</div>

			<div class="mse-home-experience-card mse-home-experience-card-left">
				<div>
					<div class="mse-home-experience-card-year">2019 - NOW</div>
					<div class="mse-home-experience-card-title">MAKOTO STUDIO ENTERTAINMENT</div>
					<div class="mse-home-experience-card-sub-location-title">Altstaetten - Switzerland</div>
					<div class="mse-home-experience-card-sub-sub-title">Foundation of Makoto Studio Entertainment</div>
				</div>
			</div>

		</div>
	</div>

	<!--  2018 til 2019  -->
	<div class="mse-home-experience-content">
		<div class="mse-home-experience-year-title">
			<div>2018</div>
			<div class="mse-home-experience-year-split">-</div>
			<div>2019</div>
		</div>
		<div class="mse-home-experience-year-content">

			<div class="mse-home-experience-card mse-home-experience-card-right">
				<div>
					<div class="mse-home-experience-card-year">2018 - 2019</div>
					<div class="mse-home-experience-card-title">SFS GROUP AG</div>
					<div class="mse-home-experience-card-sub-location-title">Heerbrugg - Switzerland</div>
					<div class="mse-home-experience-card-sub-team-title">Team Digital Transformation</div>
					<div class="mse-home-experience-card-sub-job-title">Student Worker - Software-Developer</div>
				</div>
			</div>

		</div>
	</div>

	<!--  2013 til 2018  -->
	<div class="mse-home-experience-content">
		<div class="mse-home-experience-year-title">
			<div>2013</div>
			<div class="mse-home-experience-year-split">-</div>
			<div>2018</div>
		</div>
		<div class="mse-home-experience-year-content">

			<div class="mse-home-experience-card mse-home-experience-card-left">
				<div>
					<div class="mse-home-experience-card-year">2017 - 2018</div>
					<div class="mse-home-experience-card-title">MORGAN RACING-TEAM RICHARD THORN</div>
					<div class="mse-home-experience-card-sub-location-title">Readding - United Kingdom</div>
					<div class="mse-home-experience-card-sub-job-title">Car / Race Mechanic</div>
				</div>
			</div>

			<div class="mse-home-experience-card mse-home-experience-card-right">
				<div>
					<div class="mse-home-experience-card-year">2016 - 2017</div>
					<div class="mse-home-experience-card-title">CLASSIC CAR REFUGIUM</div>
					<div class="mse-home-experience-card-sub-location-title">Filderstadt - Germany</div>
					<div class="mse-home-experience-card-sub-job-title">Classic Car Mechanic</div>
				</div>
			</div>

			<div class="mse-home-experience-card mse-home-experience-card-left">
				<div>
					<div class="mse-home-experience-card-year">2013 - 2016</div>
					<div class="mse-home-experience-card-title">CLASSIC CAR KLENOT AG</div>
					<div class="mse-home-experience-card-sub-location-title">Oberriet - Switzerland</div>
					<div class="mse-home-experience-card-sub-job-title">Classic Car Mechanic</div>
				</div>
			</div>

		</div>
	</div>

</div>
