.mse-nav-bar {
  padding: 1em;
  display: flex;
  height: 4em;
  background-image: linear-gradient(rgba(189, 189, 189, 0.9) 50%, rgba(255, 255, 255, 0));


  .mse-nav-bar-left {
    .mse-nav-bar-logo {
      width: 4em;
    }
  }

  .mse-nav-company-logo:hover {
    cursor: pointer;
  }

  .mse-nav-bar-right {
    width: 100%;
    place-items: center;
    place-content: center;
    display: flex;
    margin-right: 4em;
  }

}

.mse-nav-bar-expand {
  background: rgba(189, 189, 189, 0.8) ;

}

.nav-menu {
  background-image: linear-gradient(rgba(189, 189, 189, 1), rgba(189, 189, 189, 1) 90%, rgba(255, 255, 255, 0));
}

.mse-nav-link {
  margin: 0 1em 1em 1em;
  font-size: 2em;
  text-align: center;
}

