@import "../../../../../assets/styles/vars";

.mse-home-background-image-container {
  min-width: $view-width;
  max-width: $view-width;
  min-height: $view-height;
  max-height: $view-height;
  overflow: hidden;
}

img {
  //max-height: calc(100vh);
  max-width: calc(100vw);
  object-fit: cover;
  overflow-clip-margin: unset;

}
