.mse-view-height {
  height: calc(100vh)
}

.mse-not-found-component {
  z-index: -1;
  position: fixed;
  top: 40%;
  text-align: center;
  left: 0;
  right: 0;
}

.warning-404-icon {
  height: 5em;
  padding-top: 5em;

  mat-icon {
    transform: scale(5);

  }
}

.headline-1 {
  font-size: 5vw;
  height: 10vh;
}

.mse-not-found-text {
  text-align: center;
  margin: 0 20% 0 20%;
}
