<div class="">
  <main role="main" class="pb-3">
    <div class="nin-title-text"
         id="nin-title-text">
      <div class="nin-hello"
           id="nin-hello">
        Hello, I am
      </div>
      <div class="nin-my-name is-visible"
           id="nin-my-name">
        Nils Niemeyer
      </div>
    </div>
    <div class="nin-scroll-icon"
         id="nin-scroll-icon">
      <div aria-hidden="false">
        <span class="material-icons bouncing-arrow-icon"
              [@bouncingArrow]="bouncingArrowState ? 'in' : 'out'">
          expand_less
        </span>
      </div>
    </div>
    <img class="nin-background-first-image nin-dark-background"
         id="nin-background-first-image"
         src="../../../assets/images/me-background.jpg"
         alt="Me as a meme"/>
    <div class="content-group">
      <div class="scroll-content">
        <div class="content-group-left text-left firstContent">
          <p class="content-left">PLACEHOLDER LEFT</p>
<!--          <p class="content-left">console.log("I'm developer and this is my world")</p>-->
        </div>
      </div>
      <div class="scroll-content">
        <div class="content-group-right">
          <h2 class="content-right">PLACEHOLDER RIGHT</h2>
        </div>
      </div>
    </div>
    <img class="nin-background-second-image nin-dark-background"
         id="nin-background-second-image"
         src="../../../assets/images/Example_Brain.jpg"
         alt="Me as a meme"/>
    <div class="content-group content-group-last">
      <div class="scroll-content">
        <div class="content-group-left text-left">
          <p class="content-left">PLACEHOLDER LEFT</p>
<!--          <h2 class="content-left">Web Dev</h2>-->
        </div>
      </div>
      <div class="scroll-content">
        <div class="content-group-right">
          <h2 class="content-right">PLACEHOLDER RIGHT</h2>
        </div>
      </div>
      <div class="scroll-content">
        <div class="content-group-left text-left">
          <p class="content-left">PLACEHOLDER LEFT</p>
        </div>
      </div>
    </div>
  </main>
</div>
