<div class="mse-home-animation">
    <mse-home-name-animation></mse-home-name-animation>
</div>

<div class="sticky">
    <img src="../../../assets/images/backgrounds/me-background.jpg"
         alt="Me as a meme"/>
</div>

<div class="mse-image-me">

    <img class="nin-dark-background"
         src="../../../assets/images/backgrounds/me-background.jpg"
         alt="Me as a meme"/>
</div>

<div class="mse-image-me">

    <img class="nin-dark-background"
         src="../../../assets/images/backgrounds/me-background.jpg"
         alt="Me as a meme"/>
</div>