<div class="mse-home-content-title">
    <div>"Hello World"</div>
</div>
<div class="content">
    <div class="content-center">
        <div class="content-time-year">
            Experience
        </div>
    </div>

    <div class="content-center">
        <div class="content-time-year">
            2021 - NOW
        </div>
    </div>

    <div class="content-left">
        <div class="content-title-line-left">
            <div class="content-title-left">
                SAE - BSc (Hons) Games Programming
            </div>
        </div>
        <div class="content-content-left">
            Start @ SAE
        </div>
    </div>


    <div class="content-right">
        <div class="content-title-line-right">
            <div class="content-title-right">
                Nufatron AG
            </div>
            <div class="content-sub-title-right">
                Part of the EPS Software Engineering AG
            </div>
            <div class="content-sub-title-right">
                Junior Software-Developer
            </div>
        </div>
        <div class="content-content-right">
            - Developing Atlassian Confluence App<br>
            - Developing tranSvias<br>
        </div>
    </div>

    <div class="content-center">
        <div class="content-time-year">
            2020 - 2021
        </div>
    </div>

    <div class="content-left">
        <div class="content-title-line-left">
            <div class="content-title-left">
                EPS Software Engineering AG - Team EPS Academy
            </div>
            <div class="content-sub-title-left">
                Internship - Junior Software-Developer
            </div>
        </div>
        <div class="content-content-left">
            Developing Atlassian Confluence App -
        </div>
    </div>

    <div class="content-center">
        <div class="content-time-year">
            2019 - NOW
        </div>
    </div>

    <div class="content-right">
        <div class="content-title-line-right">
            <div class="content-title-right">
                Makoto-Studio Entertainment
            </div>
            <div class="content-sub-title-right">
                Foundation of Makoto Studio Entertainment
            </div>
        </div>
        <div class="content-content-right">
            - Music<br>
            - Web Pages and Services<br>
            - Software and Tool<br>
            - Games<br>
        </div>
    </div>

    <div class="content-center">
        <div class="content-time-year">
            2018 - 2019
        </div>
    </div>

    <div class="content-left">
        <div class="content-title-line-left">
            <div class="content-title-left">
                VET IT Specialism Application Development
            </div>
            <div class="content-sub-title-left">
                WISS - Schulen für Wirtschaft Informatik Immobilien AG
            </div>
        </div>
        <div class="content-content-left">
            Start of
        </div>
    </div>

    <div class="content-right">
        <div class="content-title-line-right">
            <div class="content-title-right">
                SFS Group AG
            </div>
            <div class="content-sub-title-right">
                Division - Team Digital Transformation
            </div>
        </div>
        <div class="content-content-right">
            - Evaluation and development of machine screens<br>
            - Developing software for production hall
        </div>
    </div>


    <div class="content-center">
        <div class="content-time-year">
            2013 - 2018
        </div>
    </div>

    <div class="content-right">
        <div class="content-title-line-right">
            <div class="content-title-right">
                Car / Race Mechanics
            </div>
            <div class="content-sub-title-right">
                Morgan Racing-Team Richard Thorn, Readding / UK
            </div>
            <div class="content-sub-title-right">
                Classic Car Refugium, Filderstadt / DE
            </div>
            <div class="content-sub-title-right">
                Classic Car Klenot AG, Oberriet / CH
            </div>
        </div>
        <div class="content-content-right">
            Welcome to my home page
        </div>
    </div>

    <div class="content-center">
        <div class="content-time-year">
            2013
        </div>
    </div>

    <div class="content-left">
        <div class="content-title-line-left">
            <div class="content-title-left">
                VET Automotive-Professional
            </div>
            <div class="content-sub-title-left">
                Classic Car Klenot AG
            </div>
        </div>
        <div class="content-content-left">
            Welcome to my home page
        </div>
    </div>

</div>