<div class="">
  <main role="main" class="pb-3">
    <div class="text-center titelText">
      <p class="indexHello">Hello, I am</p>
      <p class="indexMyName is-visible">Nils Niemeyer</p>
    </div>
    <div class="scrollIcon">
      <mat-icon class="icon" aria-hidden="false">expand_less</mat-icon>
    </div>
    <img class="yesThatsMe" src="../../assets/image/yesThatsMe.jpg" />
    <div class="contentGroup">
      <div class="content">
        <div class="contentGroupLeft text-left firstContent">
          <p class="contentLeft">console.log("Hello World!")</p>
          <p class="contentLeft">console.log("I'm developer and this is my world")</p>
        </div>
      </div>

      <div class="content">
        <div class="contentGroupRight text-right">
          <h2 class="contentRight">Full stack developer</h2>
        </div>
      </div>
      <div class="content">
        <div class="contentGroupLeft text-left">
          <h2 class="contentLeft">Web Dev</h2>
        </div>
      </div>
      <div class="content">
        <div class="contentGroupRight text-right">
          <h2 class="contentRight">Games Programing</h2>
        </div>
      </div>
    </div>
  </main>
</div>
