<app-makoto-cursor class="nin-cursor-container"></app-makoto-cursor>
<div class="nin-navigation">
  <div class="nin-navigation-left">
    <div class="nin-navigation-logo-group" routerLink="/">
      <img class="nin-navigation-logo" src="assets/images/MakotoStudioFavicon.png">
    </div>
  </div>
  <div class="nin-navigation-right">
    <div class="nin-navigation-group">
      <div class="nin-navigation-content-button">
        <span class="material-icons nin-navigation-content-button-icon" (click)="showNavContent($event)"
              *ngIf="!isShowNavContent">menu</span>
        <span class="material-icons nin-navigation-content-button-icon" (click)="showNavContent($event)"
              *ngIf="isShowNavContent">expand_less</span>
      </div>
      <span class="nin-navigation-content" *ngIf="isShowNavContent">
        <div class="nin-nav-menu">
          <div class="nin-nav-content">
            <div class="nin-nav-link" (click)="changePage('/')">HOME</div>
          </div>
          <div class="nin-nav-content">
            <div class="nin-nav-link" (click)="changePage('/work')">WORK</div>
          </div>
          <div class="nin-nav-content">
            <div class="nin-nav-link" (click)="changePage('/about')">ABOUT</div>
          </div>
          <div class="nin-nav-content">
            <div class="nin-nav-link" (click)="changePage('/about')">HELLO WORLD</div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>


<!--<nav mat-tab-nav-bar class="nin-tab-group nin-dark-background" [tabPanel]="tabPanel">-->
<!--  <a mat-tab-link-->
<!--     class="nin-button"-->
<!--     routerLink="/">-->
<!--    <div>-->
<!--      <mat-icon>home</mat-icon>-->
<!--    </div>-->
<!--    <div>-->
<!--&lt;!&ndash;      HOME&ndash;&gt;-->
<!--    </div>-->
<!--  </a>-->
<!--  <a mat-tab-link-->
<!--     class="nin-button"-->
<!--     routerLink="/work">-->
<!--    <div>-->
<!--      <mat-icon>work</mat-icon>-->
<!--    </div>-->
<!--    <div>-->
<!--&lt;!&ndash;      MY WORK&ndash;&gt;-->
<!--    </div>-->
<!--  </a>-->
<!--</nav>-->
<!--<mat-tab-nav-panel class="position-fixed" #tabPanel></mat-tab-nav-panel>-->
