@use '@angular/material' as mat;

@include mat.core();

@import "assets/styles/vars";

$nin-theme: mat.define-dark-theme((
  color: (
    primary: $nin-primary,
    accent: $nin-accent,
    warn: $nin-warn,
  )
));

@include mat.all-component-themes($nin-theme);

@font-face {
  font-family: "Agave Nerd Font";
  src: local("Agave Nerd Font"), url(./assets/fonts/agaveNerdFont.ttf) format("truetype");
}

@import "assets/styles/general";


