@use '@angular/material' as mat;

@include mat.core();


// ---------------------------- //
// GENERAL VALUES //
$window-width-size: 576px;
$agave-nerd-font: "Agave Nerd Font", sans-serif;
$font-size-title: 3rem;
$font-size: 2rem;

$cursor-light: url('../icons/code_white.svg');
$cursor-dark: url('../icons/code_black.svg');


// ---------------------------- //
// COLORS //
$nin-primary: mat.define-palette(mat.$deep-purple-palette);
$nin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$nin-warn: mat.define-palette(mat.$red-palette);
