<div class="mse-view-height">

    <div class="mse-not-found-component">
        <div class="mse-not-found-text">
            <mat-divider></mat-divider>
            <div class="warning-404-icon">
                <mat-icon>warning</mat-icon>
            </div>
            <div class="mat-headline-2">
                NOT FOUND
            </div>
            <div class="mat-headline-2">
                404
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>

</div>
