<div class="mse-nav-bar">
  <div class="mse-nav-bar-left">
    <div class="mse-nav-company-logo" routerLink="/">
      <img class="mse-nav-bar-logo"
           alt="Makoto Studio Logo"
           src="../../../../assets/images/svgs/Logo_Black_White.svg">
    </div>
  </div>

  <div class="mse-nav-bar-right">
    <div class="top-nav-bar-content-item mse-nav-link"
         (click)="openNavMenu()"
         #navMenuButtonElement
         data-befor="X"
         data-after="Y">
      <mat-icon [@turnArrow]="navMenuState ? 'down' : 'up'">
        menu
      </mat-icon>
    </div>
  </div>
</div>

<div class="nav-menu" [@expandMenu]="navMenuState ? 'out' : 'in'">
  <div class="nav-menu-content" #navMenuElement>

    <div class="nav-menu-content-item mse-nav-link"
         (click)="navigateTo('/about')"
         data-before="ABOUT"
         data-after="TUOBA">
      <span>ABOUT</span>
    </div>

    <div class="nav-menu-content-item mse-nav-link"
         (click)="navigateTo('/projects')"
         data-before="PROJECTS"
         data-after="projects">
      <span>PROJECTS</span>
    </div>

    <div class="nav-menu-content-item mse-nav-link"
         (click)="navigateTo('/products')"
         data-before="PRODUCTS"
         data-after="products">
      <span>PRODUCTS</span>
    </div>

    <div class="nav-menu-content-item mse-nav-link"
         (click)="navigateTo('/games')"
         data-before="GAMES"
         data-after="games">
      <span>GAMES</span>
    </div>

    <div class="nav-menu-content-item mse-nav-link"
         (click)="navigateTo('/exam')"
         data-before="GAMES"
         data-after="games">
      <span>Example</span>
    </div>

  </div>
</div>
